### funnction

In [1]:
def show():
    print("hello")
    print("this is function")
show()

hello
this is function

In [2]:
# parameterized function
def square(n):
    result = n * n
    print("square is = ",result)
square(100)

square is =  10000

In [3]:
num = int(input("enter a number"))
square(num)

enter a number 2

square is =  4

In [4]:
# multi-parameterized function
def largest(a,b):
    if a>b:
        print("greater number is = ",a)
    elif a == b:
        print("equal")
    else:
        print("greater number is = ",b)

largest(10,199)

greater number is =  199

In [6]:
# write a function which will print a string n times 
def print_str(str,n):
    for i in range(n):
        print(str)

print_str("aryan",9)

aryan
aryan
aryan
aryan
aryan
aryan
aryan
aryan
aryan

In [7]:
# function for factorial
def facto(n):
    fact = 1
    i = 1
    for i in range(i,n+1):
        fact = fact * i
    return fact
facto(5)

120

In [8]:
##  diiference between return and print
def add(a,b):
    result = a + b
    print(result)
add(10,20)

30

In [9]:
def add(a,b):
    result = a + b
    return result
print(add(10,20))
op  =  add(10,29)
print(op)

30
39

In [10]:
## multiple returns in one function
def largest(a,b):
    if a>b:
        return a
    elif a == b:
        return "equal"
    else:
        return b

print(largest(69,67))

69

In [11]:
def ncr(n,r):
    res =  facto(n)/ (facto(r) * facto(n-r))
    return res
print(ncr(10,3))

120.0

In [12]:
## multi return value 
def calc(n):
    sq = n*n
    cu = n*n*n
    return sq,cu
    
print(calc(5))

(25, 125)

In [13]:
n = int(input("enter the number"))
x , y = calc(n)
print("square", x)
print("cube", y)

enter the number 23

square 529
cube 12167

In [14]:
# dafault parameter
def add3(a = 5,b = 10,c = 20):
    result = a + b + c
    return result
print(add3())
print(add3(10,20,70))
print(add3(20,70))
print(add3(a = 10,c = 50))

35
100
110
70

In [15]:
def add3(a,b = 10,c = 20):
    result = a + b + c
    return result
print(add3(76))

106

In [16]:
# infinite number of args 
def in1(*args):
    for i in args:
        print(i, end = " ")
in1(98,43,56,857,89,3.0,"karan")

98 43 56 857 89 3.0 karan

In [17]:
# lambda function

square = lambda x:x*x
square(5)

25

In [18]:
# addition of two numbers using lambda 
add = lambda x,y:x+y
add(10,20)

30

In [19]:
# filtering list with lambda function
num = [34,24,234,789,123,64,67]
new = filter(lambda x : x > 40,num)
list(new)

[234, 789, 123, 64, 67]

In [20]:
# maping list wiht lambda function
num = [34,24,234,789,123,64,67]
new = map(lambda x : x/2,num)
list(new)

[17.0, 12.0, 117.0, 394.5, 61.5, 32.0, 33.5]

### modules

In [21]:
import math
math.sqrt(100)

10.0

In [22]:
math.sin(30)

-0.9880316240928618

In [23]:
math.log(10)

2.302585092994046

In [24]:
# read radius and find area
r = int(input("enter the value of radius"))
area = math.pi*(r*r)
print(area)

enter the value of radius 34

3631.681107549801

In [25]:
import time
time.asctime()

'Tue Jun 11 10:45:37 2024'

In [26]:
print("Aryan")
time.sleep(4)
print("uth")

Aryan
uth

In [27]:
import math as m
m.pi

3.141592653589793

In [28]:
from math import sqrt,pi,e,sin# slective import
sqrt(16)

4.0

In [4]:
import mod as m
m.show()

aryan
17