# oop

### class

In [1]:
class Employee():  #creating class
    pass

In [3]:
emp1 = Employee() # creating instance of class / object
emp2 = Employee()

In [4]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000001CDC4FA0B90>
<__main__.Employee object at 0x000001CDC4A8E010>

In [11]:
# instance variable
emp1.first = 'Aryan'
emp1.last = 'Jadhav'
emp1.salary =  50000

emp2.first = 'Karan'
emp2.last = 'Perdeshi'
emp2.salary = 40000

In [12]:
print(emp1.first)

Aryan

In [9]:
print(emp2.salary),

40000

In [43]:
# using Function (init) method
class Employee1():
    def __init__(self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary
    def show(self):
        print(self.first + ' ' + 'ok')

In [44]:
emp1 = Employee1('aryan','Jadhav',50000)

In [20]:
print(emp1.first)

aryan

In [40]:
emp1.show()

aryan ok

In [39]:
emp2 = Employee1('Alpit','gadhve',2000)
emp2.show()

Alpit ok

### Encapsulation

In [56]:
class Employee():
    def __init__(self,first,last,salary):
        self.first = first
        self.last = last
        self.__salary = salary # Private variable
    def show(self):
        print(self.__salary)

In [59]:
emp1 = Employee('aryan','Jadhav',50000)
emp2 = Employee('Alpit','gadhve',2000)

print(emp1.first)
print(emp1.last)
print(emp1.salary) # error because salary is private variable

aryan
Jadhav

AttributeError: 'Employee' object has no attribute 'salary'

In [58]:
emp1.show()

50000

### inheritance

In [60]:
class Emp2(Employee1): # emp2 is subclass and Employee is parent classs
    pass

In [61]:
emp3 = Emp2('tejas','akare','55000')

In [62]:
emp3.show()

tejas ok

In [75]:
'''
create class called person
Attributes ==> name,age,city...(make use default parameters also)
create method which will show all info
'''

class Person():
    def __init__(self,name,age,city,kill = 0):
        self.name = name
        self.age = age
        self.city = city
        self.kill = kill
    def show(self):
        print('Name: ',self.name,'\nAge: ',self.age,'\nCity: ',self.city,'\nkill: ',self.kill)

In [76]:
per1 = Person('Aryan',18,'Nashik')
per1.show()

Name:  Aryan
Age:  18
City:  Nashik
kill:  0

In [77]:
p2 = Person('Karan','17','Pune',1)

p2.show()