#### Loops

### while loop

In [4]:
# while loop
count = 1

while count<=5:
    print('nigga')
    count = count+1

nigga
nigga
nigga
nigga
nigga

In [8]:
#print number from 5 to 15

num = 5
while num<=15:
    print(num,end = ' ')
    num = num+1

print('Chal nigh')

5 6 7 8 9 10 11 12 13 14 15 Chal nigh

In [2]:
#print addtion of two number from 1 to 10

add = 0
count = 1
while count<=10:
    add = count+add
    count+=1

print('addition is: ',add)

addition is:  55

In [3]:
print(count)

11

In [8]:
# print the addition of all odd number from 1 to 20

count = 1
add = 0

while count <=20:
    add= count + add
    count +=2

print('addition of all odd number till 20 is ',add)

addition of all odd number till 20 is  100

In [7]:
# factorial of 5

num = 1
fact = 1

while num <=5:
    fact =  fact*num
    num = num + 1

else:
    print('loop ended')

print('Factoriyal: ',fact)

loop ended
Factoriyal:  120

In [12]:
# find the sum of digits in a number
#ex:- 12345 ==> 1+2+3+4+5

num = int(input('enter a number'))

add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10

print(add)

enter a number 12345

15

### for loop

In [27]:
#basic for loop code

for n in 12,34,45,21:
    print(n,end = " ")

12 34 45 21

In [25]:
# print half of numbers in list
for n in 12,34,45,21:
    print(n/2,end = ' ')

6.0 17.0 22.5 10.5

In [4]:
# range function

list(range(5))

[0, 1, 2, 3, 4]

In [5]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
# range function in for loop

for i in range(1,11):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [9]:
# print addition odd number from 1 to 20
add=0
for n in range(1,21,2):
    add = n+add

print(add)

100

In [17]:
# print name using for loop

for name in range(1,11):
    print(name,'gigga nigga')

1 gigga nigga
2 gigga nigga
3 gigga nigga
4 gigga nigga
5 gigga nigga
6 gigga nigga
7 gigga nigga
8 gigga nigga
9 gigga nigga
10 gigga nigga

In [21]:
# find factorial of number using user input

num = int(input('enter a number: '))

fact = 1


for n in range(num,0,-1):
    fact = fact*n
print(fact)

enter a number:  5

120

#### break statment

In [35]:
 for n in range (1,10):
     print(n)
     if n == 5:
         break

1
2
3
4
5

#### continue

In [37]:
 for n in range (1,10):
     if n == 5:
         continue
     print(n)

1
2
3
4
6
7
8
9

In [44]:
# print odd numbers from 1 to 12 using continue

for n in range(1,12):
    if n %2 == 0:
        continue
    print(n)

1
3
5
7
9
11

#### pass

In [45]:
num = 5
if num>1:
    pass

In [1]:
'''
*
**
***
'''

row  = int(input('Enter the number of rows: '))

for i in range(1,row+1):
    for j in range(i):
        print("*",end = '')
    print()

Enter the number of rows:  3

*
**
***